@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Helvetica, FreeSans, Arial, sans-serif;
    background-color: #bebebe; /*565646*/
}

.TitleBar {

    position: absolute;
    width:100%;
    height: 40px;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: #f3f3f3;
}

#WebGLViewer {
    background-image:url('');
    background-size:100vh;
    background-repeat: no-repeat;
    background-position: center;
    width:75%;
    position: absolute;
    right: 0px;
    top: 40px;
    bottom: 0px;
}

#stats {
    position: absolute;
    right: 10px;
    /* top: 5px; */
    bottom: 10px;
    color: #fff;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 200px;
    height: 70px;
    border: solid 0px black;
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-size:14px; 
    overflow-x: hidden;        
}

.statsText{
    color: #FFF27F;
}

button:hover{
    cursor:pointer;
}


.icon{
    float: left; 
    padding-right: 25px;
} 

/* Fixed sidenav, full height */
.sidenav {

    float:left; 
    width:25%;
    position: absolute;
    background-color: #303030;
    bottom: 0px;
    top: 40px;
    left: 0; 
    
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn, .dropdown-btn-folder {
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover, .dropdown-btn-folder:hover {
    color: #f1f1f1;
  }
  
  /* Add an active class to the active dropdown button */
  /* .active {
    background-color: rgb(37, 86, 143);
    color: white;
  } */
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container, .dropdown-container-folder {
    display: none;
    background-color: #262626;
    padding: 10px;
    padding-bottom: 30px;
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  /* Some media queries for responsiveness */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  #overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

  #HelpText{

    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 30px;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }